header
{
  max-width: 100%;
  height: 120px;
  background-image: url(header-bg.jpg);


}

h1
{
  margin: 0px;
  padding: 0px;

}

.logo
{

  position: absolute;
  right: 10px;
  top: 20px;
}

.remonte
{
  position: fixed;
  text-align: right;
  right: 0px;
  bottom: 0px;
}

ul
{
  list-style: none;
}

/* Je sélectionne les <li> du menu horizontal */

ul#menu_horizontal li {

display : inline;

padding : 0 0.5em; /* Pour espacer les boutons entre eux */

}

ul#menu_horizontal {

list-style-type : none; /* Car sinon les puces se placent n'importe où */

text-align: center;



}
