header
{
  max-width: 100%;
  height: 120px;
  background-image: url(header-bg.jpg);


}

h1
{
  margin: 0px;
  padding: 0px;
  font-family: Verdana;
  color: rgb(149, 0, 0);
  text-shadow: 2px 3px black;

}

.logo
{

  position: absolute;
  right: 20px;
  top: 20px;
}

.remonte
{
  position: fixed;
  text-align: right;
  right: 0px;
  bottom: 0px;
}

ul
{
  list-style: disc;
}

/* Je sélectionne les <li> du menu horizontal */

ul#menu_horizontal li {

display : inline;

padding : 0 0.5em; /* Pour espacer les boutons entre eux */

}

ul#menu_horizontal {

list-style-type : none; /* Car sinon les puces se placent n'importe où */

text-align: center;

}

ul#menu_horizontal a
{
  color: black;
  text-decoration: none;
}

ul#menu_horizontal a:hover
{
  background-color: rgb(77, 77, 77);
  color: white;
}

nav
{
  background-color: red;
  border: 2px black dashed;
}

section
{
  border: 3px black solid;
  border-radius: 3px;
  background-color: rgb(124, 124, 124);
  margin-right: 50%;
  font-family: "Roboto Condensed";
  font-size: 18px;
}

body
{
  background-image: url(dark-subtle-wall-of-lines-21315.png);
}

a
{
  color: red;
  font-family: "Roboto Condensed";
  font-size: 18px;
}
